<head>
	<meta name="description" content="Lisgar Collegiate Institute's Online Judge">
	<meta name="keywords" content="LCI, Lisgar, LCIOJ, online judge, code, contest, programming, computing, competitive, grader, CCC, CCO, IOI, problems, solutions, Ottawa, Ontatio, Canada, OCDSB">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<title><%= title %></title>

	<!-- Custom CSS -->
	<link href="/css/simple-sidebar.css" rel="stylesheet">

	<link href="/css/style.css" rel="stylesheet" type="text/css">

</head>
