<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
        	    Navigation
            </a>
        </li>
        <li>
            <a href="/index">Main</a>
        </li>
        <li>
            <a href="/profile">Profile</a>
        </li>
        <li>
            <a href="/problems">Problems</a>
        </li>
        <li>
            <a href="/contests">Contests</a>
        </li>
        <li>
            <a href="/users">Top Users</a>
        </li>
        <li>
            <a href="/organizations">Organizations</a>
        </li>
        <li>
            <a href="/about">About Us</a>
		</li>
    </ul>
</div>