.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.required-form {
  color: red;
  font-size: 18px !important;
}

#submit-button {
  width: 100%;
}

.comments-header {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 30px;
}

.comment-author {
  font-size: 22px;
  font-weight: bold;
}

.comment-error {
  color: red;
}

.no-list {
  list-style: none;
}