#problem-statement p {
    font-size: 20px;
}

#editor {
    height: 500px;
}

.result-correct {
	display: inline;
    color: mediumseagreen;
    font-weight: bold;
}

.result-wrong {
	display: inline;
    color: red;
    font-weight: bold;
}

.result-err {
	display: inline;
    color: orange;
    font-weight: bold;
}

.result-tle {
	display: inline;
	color: gray;
	font-weight: bold;
}

/* MathJax */
.has-jax {
    background-color: transparent;
}

.MathJax {
    position: relative;
    display: inline-block ! important;
    background-color: white;
    border-radius: 5px;
}