<div class="row">
    <!-- Header -->
    <div class="col-sm-offset-2 col-sm-8">
        <h2 class="comments-header text-center">Comments</h2>
    </div>
    <br>

    <!-- Submit a comment -->
    <div class="col-sm-offset-2 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">Submit a comment</h3>
            </div>
            <div class="panel-body">
                <p id="comment-error">There was an error submitting your comment.</p>
                <!-- Textarea -->
                <textarea id="comment-form" class="form-control"></textarea>
                <br>
                <!-- Submit button -->
                <button id="comment-submit-button" class="btn btn-success pull-right">Submit</button>
            </div>
        </div>
    </div>

    <!-- All comments -->
    <div class="col-sm-offset-2 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">All Comments</h3>
            </div>
            <div class="panel-body">
                <ul id="comments-list" class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Loading comments...</h4>
                        <p class="list-group-item-text">Loading comments...</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Custom scripts -->
<script src="/js/comments.js"></script>