<!DOCTYPE html>
<html lang="en">

<!-- What a nice bootstrap template. Or at least it was until we got our hands on it! -->

<div id="header">
	<% include ../partials/header.ejs %>
</div>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <% include ../partials/sidebar.ejs %>
        
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">About Us</h1>
                        <p>
                        The Lisgar Computing Club (LCC) is a student run initiative to further student understanding in the study of computer science. The LCC was founded in the 2015-2016 school year, by Spencer Whitehead, Ryan Torrington-Smith, and Kevin Jia. In the LCC, we teach members various algorithms and their applications. We train to participate in computing contests, such as the CCC and the ECOO.
                        </p>
                        <p>Filler content</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>

<div id="footer"></div>
    <% include ../partials/footer.ejs %>
</html>
