<!DOCTYPE html>
<html lang="en">

<!-- What a nice bootstrap template. Or at least it was until we got our hands on it! -->

<div id="header">
	<% include ../partials/header.ejs %>
</div>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <% include ../partials/sidebar.ejs %>
        
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Problems</h1>
                        <p>
                        We currently host a grand total of 1 problem(s).
                        </p>
                        <ul>
                        <li><a href="../problems/aplusb">A plus B</a></li>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>

<div id="footer"></div>
    <% include ../partials/footer.ejs %>
</html>
