<!DOCTYPE html>
<html lang="en">

<!-- What a nice bootstrap template. Or at least it was until we got our hands on it! -->

<div id="header">
	<% include ../partials/header.ejs %>
</div>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <% include ../partials/sidebar.ejs %>
        
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Problems</h1>
                        <p>
                        In future, this page will contain problems for you to practice on. For now, enjoy this video: 
                        </p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Sagg08DrO5U" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>

<div id="footer"></div>
    <% include ../partials/footer.ejs %>
</html>
